<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
  <sources>
   <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
    <listeners>
     <add type="System.Diagnostics.DefaultTraceListener" name="Default">
      <filter type="" />
     </add>
     <add name="ServiceModelTraceListener">
      <filter type="" />
     </add>
    </listeners>
   </source>
  </sources>
  <sharedListeners>
   <add type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
    <filter type="" />
   </add>
  </sharedListeners>
 </system.diagnostics>
 <system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
    <services>
       <service name="ifns_service_interface.IFDNSServer">
          <endpoint address="net.pipe://localhost/ifns_client_service"
             binding="netNamedPipeBinding" contract="ifns_service_interface.IFDNSServerInterface" />
          <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
             contract="IMetadataExchange" />
          <host>
             <baseAddresses>
                <add baseAddress="http://localhost:8733/Design_Time_Addresses/ifns_service_interface/Service1/" />
             </baseAddresses>
          </host>
       </service>
    </services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
  </system.serviceModel>
</configuration>